.mainPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.gridNbutt {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1;
}
.onePokemon {
  display: none;
  flex-direction: column;
  width: 400px;
  background-color: aquamarine;
}

.allPokemons {
  display: grid;
  grid-template-columns: repeat(2, minmax(180px, 1fr));
  gap: 5px;
  margin: 1rem 0;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 600px) {
  .allPokemons {
    display: grid;
    grid-template-columns: repeat(3, minmax(180px, 1fr));
  }
}
@media only screen and (min-width: 800px) {
  .allPokemons {
    display: grid;
    grid-template-columns: repeat(4, minmax(180px, 1fr));
  }
}
@media only screen and (min-width: 1200px) {
  .mainPage {
    display: flex;
    flex-direction: unset;
  }

  .onePokemon {
    display: flex;
    width: 400px;
    position: relative;
  }
  .oneContainer {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100%;
    position: fixed;
    top: 50%;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
  }
}

.midDiv {
  padding-top: 1rem;
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  gap: 1rem;
}

.imgDiv {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loaderDiv {
  display: flex;
  justify-content: center;
}

.pokeImg {
  width: 120px;
  max-width: 120px;
  align-self: center;
  height: auto;
  max-height: 150px;
}

.pokeGif {
  width: auto;
  height: auto;
}

.pokeBlock {
  width: 150px;
  justify-self: center;
  border: 1px solid lightgray;
  border-radius: 10px;
  display: flex;
  background-color: white;
  height: 180px;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  cursor: pointer;
  z-index: 3;
  position: relative;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

.noPokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.pickedBlock {
  background-color: teal;
}

.pickedBlock h3 {
  color: white;
}
.pokeBlock:hover {
  transition: 0.3s;
  border: 1px solid gray;

  box-shadow: 4px 12px 16px rgba(0, 0, 0, 0.1);
}
.pokeBlock:hover .pokeImg {
  transition: 0.3s;
  transform: scale(1.03);
}

.pokeBlock h3 {
  z-index: 12;
}
.pokeBlock h3::first-letter {
  text-transform: uppercase;
}

.pokeBlock::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: -1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: linear-gradient(to bottom, transparent, gray);
  transition: 0.3s;
}

.nameAndTag {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nameAndTag h5 {
  color: gray;
  z-index: 100;
}

.tagsBlock {
  display: grid;
  grid-template-columns: repeat(2, minmax(10px, 1fr));
  gap: 5px;
}

.filterSetting {
  display: flex;
  width: 100%;
  height: 30px;
  max-width: 95%;
  justify-content: space-between;
}

.oneTag {
  background-color: rgba(255, 255, 255, 0.3);
  opacity: 0.9;
  padding: 5px 10px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  transition: 0.3s;
  cursor: pointer;
}
.oneTag:hover {
  background-color: gray;
  color: white;
  transition: 0.3s;
}

.myButt {
  display: flex;
  justify-content: center;
  width: 100%;
  color: white;
  background-color: black;
  padding: 15px;
  font-size: 18px;
  font-weight: 600;
  margin: 1rem;
  border-radius: 5px;
}

.myButt:hover {
  opacity: 0.8;
  transition: 0.3s;
}

.dropBlock {
  display: flex;
  gap: 1rem;
}

.noFlex {
  max-width: 150px;
  justify-self: center;
}
.myButtReset {
  display: flex;
  justify-content: center;
  color: white;
  background-color: gray;
  padding: 5px 0;
  width: 100px;
  justify-self: center;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
}

.myButtReset:hover {
  opacity: 0.8;
  transition: 0.3s;
}

.pokeImgWide {
  width: 180px;
  align-self: center;
  height: auto;
}
